body{
    margin-bottom: 0% !important;
    background-color: rgb(222, 216, 216) !important;
}

footer{
    background-color:rgb(26, 30, 29) ;
}

.card-body{
    border-radius: 15px;
    padding: 30px;
}
.requiredField{
    font-weight: bold;
    padding: 3px;
    color: white;
}
.form-control{
    border-radius: 5px;
}

.asteriskField{
    color: red;
}

ul{
    color: white;
}