{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} <title> Additional Details </title> {% endblock title %}
{% block integration %}
{% endblock integration %}

{% block content %}
<section class="section-content padding-y mb-5">
  <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
    <article class="card-body bg-dark">
      <header class="mb-4"><h1 class="card-title text-center text-white">Additional Info</h1></header>
      <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      {{ address_formset|crispy }}
      <div class="text-center">
        <button type="submit" class="btn btn-success mt-5">Save</button>
      </div>
      </form>
    </article>
  </div>
</section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

