{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} <title> Additional Details </title> {% endblock title %}
{% block integration %}
{% endblock integration %}

{% block content %}
<div class="container mt-5 p-5">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ address_formset|crispy }}
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}

