{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block integration %}

{% endblock integration %}

{% block content %}
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
      <article class="card-body bg-dark">
        <header class="mb-4"><h1 class="card-title text-center text-white">{{title}}</h1></header>
        <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-success mt-3">{{button}}</button>
        </div>
        </form>
      </article>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
<script>
    function initialize() {

        var acInputs = document.getElementsByClassName("autocomplete");
        console.log(acInputs);
    
        for (var i = 0; i < acInputs.length; i++) {
    
            var autocomplete = new google.maps.places.Autocomplete(acInputs[i]);
            autocomplete.inputId = acInputs[i].id;
    
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                document.getElementById("log").innerHTML = 'You used input with id ' + this.inputId;
            });
        }
    }
    
    initialize();

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByE9mZ7gZGC3IFafFyonZ3CMeyXBls26M&libraries=places&callback=initialize" async defer> </script>
{% endblock scripts %}