{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block integration %}
<script src="{% static "js/prettier.js" %} "></script>
{% endblock integration %}

{% block content %}
<section class="section-content py-5 ">
  <div class="container">
      <div class="row justify-content-around">
          <div class="col-md-6 mb-3">
              <div class="card bg-dark text-white">
                  <div class="card-body">
                      <h1 class="card-title text-center">{{title}}</h1>
                      <form method="POST">
                          {% csrf_token %}
                          {{form | crispy}}
                      </form>
                      <div class="text-center my-5">
                        <button onclick="calcRoute()" type="submit" class="btn btn-success">{{button}}</button>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div onload="initMap()" id="map" class="card" style="height: 450px;"></div>
          </div>
      </div>
  </div>
</section>

<section class="container">
  <div>
    <div style="text-align: center;" class='text-success bg-light'>
      <h1 class="pt-5">Driver List </h1>
    <div>
    <div class="container my-3">
      <div class="row justify-content-around">
          <form class="d-flex col-md-6" method="post">
              {% csrf_token %}
              <input class="form-control" type="Search" placeholder="Search by Vehicle Model" aria-label="Search" name="search">
              <button class="btn btn-dark mx-2" type="submit">Search</button>
          </form>
      </div>
    </div>
    <div style="width:80%; margin:auto;" class="py-5 mb-5">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
              <tr style="text-align:center;">
                <th scope="col">Image</th>
                <th scope="col">Type</th>
                <th scope="col">Model</th>
                <th scope="col">Driver</th>
                <th scope="col">Rating</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            {% if vehicles %}
            <tbody style="text-align:center;">
              {% for vehicle in vehicles %}
              <tr>
                <td scope="row"><img src="{{ vehicle.image.url }}" alt="{{ vehicle.model }}" style="width: 100px;" ></td>
                <td scope="row"> {{vehicle.type}} </td>
                <td scope="row"> {{vehicle.model}} </td>
                <td scope="row"> {{vehicle.driver.first_name}} {{vehicle.driver.last_name}} </td>
                <td scope="row"> {{vehicle.driver.rating}} </td>
                <td scope="row">
                  <a class="btn btn-warning btn-sm" href=" "> Request </a>
                  <a class="btn btn-primary btn-sm" href=""> Profile </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
          {% else %}
          <div style="text-align: center;" class='mt-5 py-5 text-danger bg-light'>
              <h1>Nothing to Show</h1>
          </div>
          {% endif %}
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
    function initialize() {

        var acInputs = document.getElementsByClassName("autocomplete");
        for (var i = 0; i < acInputs.length; i++) {
    
            var autocomplete = new google.maps.places.Autocomplete(acInputs[i],
            {
              types: ['geocode'],
              componentRestrictions: { 'country': ['BD'] },
              fields: ['place_id', 'geometry', 'name', 'formatted_address'] 
            });
            autocomplete.inputId = acInputs[i].id;
    
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                document.getElementById("log").innerHTML = 'You used input with id ' + this.inputId;
            });
        }
    }
    initialize();

</script>

<script>
  let map, directionServices, directionDisplay;

  function initMap(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 0, lng: 0},
      zoom: 1,
    });
    google.maps.event.addListener(map, 'click', function(event) {
      this.setOptions({scrollwheel:true});
    });
    directionServices = new google.maps.DirectionsService();
    directionDisplay = new google.maps.DirectionsRenderer(
      polilineOptions = {
        strokeOpacity: 5.0,
        strokeWeight: 20,
      },
      suppressMarkers = true,
      suppressInfoWindows = true,
      preserveViewport = true,
      fillOpacity = 0.0,
    );
    directionDisplay.setMap(map);

    var acInputs = document.getElementsByClassName("autocomplete");
        for (var i = 0; i < acInputs.length; i++) {
            var autocomplete = new google.maps.places.Autocomplete(acInputs[i]);
            autocomplete.inputId = acInputs[i].id;
    
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                document.getElementById("log").innerHTML = 'You used input with id ' + this.inputId;
            });
        }
  }

  function calcRoute(){
    var start = document.getElementById('origin').value;
    var end = document.getElementById('destination').value;
    var request = {
      origin: start,
      destination: end,
      travelMode: 'DRIVING'
    };
    directionServices.route(request, function(result, status){
      if(status == 'OK'){
        directionDisplay.setDirections(result);
      }
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByE9mZ7gZGC3IFafFyonZ3CMeyXBls26M&libraries=places&callback=initMap"></script>
{% endblock scripts %}