{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Trip Details</title>
{% endblock title %}

{% block style %}
<style>
    .form-control-static {
        font-size: 1.2em;
    }
</style>
{% endblock style %}


{% block integration %}
{% endblock integration %}


{% block content %}
<section class="container">
  <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
          <div class="bg-light p-5">
              <h3 class="text-center">Trip Details</h3><hr>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="origin"><b>Origin:</b></label>
                          <p class="form-control-static" id="origin">{{origin}}</p>
                      </div>
                      <div class="form-group">
                          <label for="duration"><b>Est. Duration:</b></label>
                          <p class="form-control-static" id="duration">{{duration}}</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="destination"><b>Destination</b></label>
                          <p class="form-control-static" id="destination">{{destination}}</p>
                      </div>
                      <div class="form-group">
                          <label for="distance"><b>Est. Distance:</b></label>
                          <p class="form-control-static" id="distance">{{distance}}</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                            <label for="Passenger"><b>Passenger Info:</b></label>
                            <p class="form-control-static" id="Passenger">
                                <img src="{{passenger.image.url}}" alt="" style="height: 100px; width: auto;"><br>
                                Name: {{passenger.first_name}} {{passenger.last_name}}<br>
                                Phone: {{passenger.phone}}<br>
                                <br>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="Vehicle"><b>Vehicle Info: </b></label>
                            <p class="form-control-static" id="Vehicle">
                                <img src="{{vehicle.image.url}}" alt="" style="height: 100px; width: auto;"><br>
                                Model: {{vehicle.model}}<br>
                                License: {{vehicle.license_no}}<br>
                                Color: {{vehicle.color}}<br>
                                Speed: {{vehicle.avg_speed}} <br>
                                Capacity: {{vehicle.capacity}} <br>
                            </p>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                            <label for="Driver"><b>Driver Info:</b></label>
                            <p class="form-control-static" id="Driver">
                                <img src="{{owner.image.url}}" alt="" style="height: 100px; width: auto;"><br>
                                Name: {{owner.first_name}} {{owner.last_name}}<br>
                                Phone: {{owner.phone}}<br>
                                Rating: {{owner.rating}}<br>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="Other"><b>Metrics Info:</b></label>
                            <h6 class="form-control-static" id="Other">
                                <br>
                                Start Time: {{start_time}}<br>
                                End Time: {{end_time}} <br>
                                <br>
                                <span id="remaining_time">Remaining Time: {{remaining_time}}</span> <br>
                                <span id="remaining_distance">Remaining Distance: {{remaining_distance}}</span><br>
                                <br>
                                <a class="btn btn-danger btn-sm" href=" {% url "trip_details" vehicle.id %} ">Jump</a>
                            </h6>
                        </div>
                 </div>
              </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script>
    function updateMetrics() {
        var remainingDistance = document.getElementById("remaining_distance");
        var remainingTime = document.getElementById("remaining_time");

        var distance_int = parseFloat(remainingDistance.innerHTML.split(" ")[2]);
        var timeComponents = remainingTime.innerHTML.split(" ")[2].split(":");
        var time_int = parseInt(timeComponents[0]) * 3600 + parseInt(timeComponents[1]) * 60 + parseInt(timeComponents[2]);

        time_int -= 1;
        var hours = Math.floor(time_int / 3600);
        var minutes = Math.floor((time_int - hours * 3600) / 60);
        var seconds = time_int - hours * 3600 - minutes * 60;

        
        distance_int -= 0.5;
        
        remainingTime.innerHTML = "Remaining Time: " + hours + ":" + minutes + ":" + seconds;
        remainingDistance.innerHTML = "Remaining Distance: " + distance_int.toFixed(2) + " km";

        setTimeout(updateMetrics, 1000);

        if (remaining_distance == 0 || time_int == 0) {
            window.location.href = "#";
        }
    }
    
    updateMetrics();

</script>
{% endblock content %}

{% block script %}


{% endblock script %}
    
